<br><br><br>

<div class="card bg-white"> <!--Card Principal para os formulários-->
  <h3 class="card-header alert alert-primary">Front End Testing - Two Buttons/Tooltip</h3>
  <div class="card-body bg-white"> <!--Card body principal-->
    <div class="form-group"> <!--Form principal-->
<!-- 1a. coluna da esquerda-->
      <div class="card-group">
        <div class="card border-primary">
            <div class="card-body">
            <div class="ml-auto p-2">
              <button type="button"
                      class="btn btn-outline-danger" 
                      data-toggle="tooltip"
                      data-placement="top" 
                      data-html="true" 
                      aria-label="Zoom image: opens a high resolution version, press Esc or Click anywhere to close"
                      title="<em>Tooltip</em> <u>Text on top</u> <b>Button A</b>">
                      Button A
              </button>
            </div>
            <div class="ml-auto p-2">
              <button type="button" 
                      class="btn btn-outline-success" 
                      data-toggle="tooltip" 
                      data-placement="top" 
                      data-html="true" 
                      aria-label="Zoom image: opens a high resolution version, press Esc or Click anywhere to close"
                      title="<em>Tooltip</em> <u>Text on top</u> <b>Button B</b>">
                      Button B
              </button>
            </div>
        </div>
       
<!-- /1a. coluna da esquerda-->
  </div> <!--/Form principal-->
    </div> <!--/Card body principal-->
    <br><br>
    <p class="alert alert-primary font-italic" id="quotes">Single Page Angular 4+ / Boostrap </p>
  <br>
